<% provide :title, t("users.new.title") %>
<% provide :button_text,t("users.new.creat") %>
<h1><%= t ".title" %></h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render "from" %>
  </div>
</div>
